.h1 {
  background-image: url(https://github.com/princejwesley/Mancy/raw/master/icons/mancy.png);
  background-size: 30px;
  background-repeat: no-repeat;
  background-position: 10px 10px;
  text-indent: 40px;
}
